:root {
    --bg: #010101;
    --Primer_Color: #b6895b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;

}